body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 5rem 1rem 1rem;
}

.site-header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 1rem;
}

.site-header > * {
    display: inline-block;
}

.question-list footer, .question-view footer {
    font-size: smaller;
    color: #999;
}

.question-list footer > * {
    margin: 0 0.25rem;
}

.question-list footer > *:first-child {
    margin-left: 0;
}

.question-list .question {
    margin-bottom: 1rem;
}

.question-title {
    font-size: x-large;
    font-weight: bold;
}

.answer {
    margin: 1rem 0;
    padding: 1rem;
}

.answer.accepted {
    border: 1px dashed lightgreen;
}

.answer-form * {
    box-sizing: border-box;
}

.answer-form textarea {
    width: 100%;
    height: 5rem;
}

.answer-form .submit-button {
    width: 100%;
    line-height: 2;
    font-size: 1rem;
    background: white;
    border: 1px solid green;
}

.icon-tick::before {
    content: '✔';
    color: lightgreen;
}