body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 5rem 1rem 1rem;
    line-height: 1.4;
}

.site-header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 1rem;
    z-index: 1;
}

.site-header > * {
    display: inline-block;
}

.site-header .profile {
    float: right;
}

.site-header .profile span {
    display: inline-block;
    margin-left: 0.25rem;
}

footer {
    font-size: smaller;
    color: #999;
}

footer > * {
    margin: 0 0.25rem;
}

footer > *:first-child {
    margin-left: 0;
}

.question-list .question {
    margin-bottom: 1rem;
}

.question-view .question {
    border-bottom: 1px dashed #eee;
    padding-bottom: 1rem;
}

.question a {
    text-decoration: none;
    color: black;
}

.question a:hover {
    color: #3c61dc;
}

.question-title {
    font-size: x-large;
    font-weight: bold;
}

.current-user-question {
    color: #ffc400;
}

.answer {
    margin: 1rem 0 1rem 2rem;
    position: relative;
}

.answer.accepted::before {
    content: '✔';
    color: lightgreen;
    position: absolute;
    left: -1.5rem;
}

.answer-form * {
    box-sizing: border-box;
}

.answer-form textarea {
    width: 100%;
    height: 5rem;
}

.answer-form .submit-button {
    width: 100%;
    line-height: 2;
    font-size: 1rem;
    background: white;
    border: 1px solid green;
}

.no-accepted-answer {
    color: #dc594e;
}